// First do an npm int to create package.json file, npm install node-sass,
// under scripts in the package.json file type: "sass": "node-sass -w scss/ -o dist/css/ --recursive,
// lastly do npm run sass"
// don't touch css file, this is where things get compiled
@import 'config';
@import 'menu';


*{
    box-sizing: border-box;
}

body{
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
// heading
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{
        font-size: 6rem;
    
    }
    &.small-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: (lighten($primary-color, 2));
    }
}
a{
    color:white;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary{
    color: $secondary-color;
}
main{
    padding: 4rem;
    // height: 100%;
   min-height: calc(100vh - 60px); 
    .icons{
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover{
                color: red;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        };
    }
}
.dark{
    opacity: -1;
}

// Css grid: first display: grid,  then define the grid template areas and the columns, 
// then create a grid-area

.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: 1fr, 1fr, 1fr;
}

.bio-image{
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: solid $secondary-color;
}

.bio{
    grid-area: bio;
    font-size: 1.5rem;
}

.job1{
    grid-area: job1
}
.job2{
    grid-area: job2
}

.job3{
    grid-area: job3
}

.job{
    background-color: lighten($primary-color, 10);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border-bottom: 5px solid lightgreen;

    h3{
      font-weight: 900;
    }
}

// Portfolio

.projects{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    

    img {
        width: 100%;
        border: 3px black solid;
        opacity: 0.3;

        &:hover{
            border-color: $secondary-color;
            opacity: 1;
            @include easeOut;
        }
    }
}

.button{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
        @include easeOut;
    }
    &:active{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark{
    @extend .button;
    background: darken($primary-color, 50);
    color: white;
}

.btn-light{
    @extend .button;
    background: lighten($primary-color, 50);
    color: black;
}

// Contact Page
.boxes{
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;

    div{
        font-size: 2rem;
        border: 3px white solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span{
                color: set-text-color($secondary-color);
            }
        }
    }

}



#main-footer{
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 15);
    height: 60px;
    position: relative;
     a:hover{
        color: red;
     }
    
}

@import 'mobile';










